@charset "utf-8";
/* CSS Document */
body {
	font-family: Journal;
	font-size: 40px;
	background-image:url(../res/bg.jpg);
	text-align: center;
	background-size: 100%;
	background-repeat: no-repeat;
}


h1 {
    color: white;
    text-align: center;
}